<% /* %>
  * Copyright 2021-present, Facebook, Inc. All rights reserved.
  *
  * This source code is licensed under the BSD-style license found in the
  * LICENSE file in the root directory of this source tree.
  *
  * Messenger For Nong San Que My
  * https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing
  <% */ %>
    <% include header %>

      <div class="container">
        <h1>Nong San Que My</h1>
        <img src="/logo.png" />
        <p class="lead">
          We’re open 7 days, so start your shopping experience now!
        </p>
        <p>
          This site is part of the Sample Messenger Bot experience of Nong San Que My
        </p>
        <ul>
          <li>
            <a href="https://nong-san-quemy.web.app/">Nong San Que My Website</a>
          </li>
          <li>
            Want to build your own?
            <a
              href="https://nong-san-quemy.web.app/">DevDocs</a>
          </li>
        </ul>

      
      </div>

      <% include footer %>